@import "bootstrap-sprockets";
@import "bootstrap";

@media screen and (min-width: 500px) {
input {width:600px;}
textarea {
  width:600px;
    height:300px;
  }
}

@media screen and (max-width: 499px) {
input {width:300px;}
textarea {
width:300px;
height:200px;
}
}

.btn {
margin-top:20px;
}

a {
text-decoration:none;
}

a:hover {
color:rgb(70, 112, 218);
}

.badge a {
color:white;
}
